<!doctype html>
<html lang="en">
    <head>
        <title>Bullet API Reference</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

        <link href="styles/styles.css" rel="stylesheet">
        <link href="styles/bullet-theme.css" rel="stylesheet">
        <script src="scripts/site/search.js"></script>
        <script src="scripts/site/sidebar.js"></script>
        <script src="scripts/site/sidebar-filter.js"></script>
        <script src="scripts/highlight.min.js"></script>

        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        {{> header header-icon="&#58195;" header-title="API Reference"}}
        <div class="container content-width">
            {{> navigation}}
            <main>
<h1>Bullet API Reference</h1>

<p>Welcome to the Bullet API Reference! </p>

<h2>The bt Namespace</h2>

<p>The API is contained within an object named <code>bt</code>. We refer to this as a namespace. Any objects that you create will be defined within this namespace. For example, if you create a new 3D vector object, you would do:</p>

<pre>
var v = new bt.Vector3();
</pre>

</main>
        </div>
    </body>
</html>
