<header>
    <nav class="header-width">
    </nav>

    <div class="header-content header-page header-width">
        <h1><span class="font-icon">{{{header-icon}}}</span>{{header-title}}</h1>
        <input id="search" class="search" type="text" placeholder="Search"></input>
    </div>
</header>
